* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input[type="radio"] {
    display: none;
}

// Custom Margin Bottom 
.cst_mb {
    margin-bottom: 20%;
}

// Unordered List
ul {
    list-style-type: none;
}

// anchor 
a, a:hover {
    text-decoration: none;
}