.btn-orange {
    color: #fff;
    background-color: #ff5e00;
    border-color: #ff5e00;
    border-radius: 1rem;
}

.btn-orange:hover {
    color: #fff;
    background-color: #c24e0b;
}

.custom-input {
    border-radius: 1rem;
}