<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- common css links  -->
    <link rel="stylesheet" href="/css/viewportfix.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/icons.css">
    <!-- peculiar css link  -->
    <link rel="stylesheet" href="/css/task_detail.css">
    <title><%= taskName %></title>
    <script src="/js/viewportfix.js"></script>
</head>

<body>
    <main class="bg-white w-100">
        <section class="d-flex justify-content-between">
            <div class="p-5 bg-warning d-flex justify-content-center align-items-center task-icon-container"><img src="/icons/<%= taskIcon %>.png" alt="no" width="60px"
                    height="60px" class="task-icon"></div>
        </section>
    </main>

</body>

</html>