<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links  -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/viewportfix.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/registration.css">
    <title>GodMode24</title>
    <script src="/js/viewportfix.js"></script>
</head>

<body>
    <main class="super-bg my-element d-flex flex-column justify-content-end align-items-center">
        <a href="./registration" class="btn btn-primary cst_mb">Get Started</a>
    </main>
</body>

</html>