<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css links  -->
    <link rel="stylesheet" href="/css/viewportfix.css">
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/cstbutton.css">
    <link rel="stylesheet" href="/css/registration.css">

    <!-- scripts  -->
    <script src="/js/viewportfix.js"></script>
    <title>Sign Up</title>
</head>

<body>
    <main class="d-flex super-bg flex-column my-element justify-content-end align-items-center">
        <ul class="w-75">
            <li class="btn btn-primary btn-block mb-3">Facebook</li>
            <li class="btn btn-info btn-block mb-3">LinkedIn</li>
            <li class="btn btn-danger btn-block mb-3">Google</li>
            <li class="btn btn-warning btn-block mb-3"><a href="registration/email_login" class="d-block btn-link text-white">Email</a>
            </li>
        </ul>
    </main>
</body>

</html>