<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <!-- css links  -->
    <link rel="stylesheet" href="/css/common.css">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/css/registration.css">
</head>
<body>
    <main class="d-flex flex-column justify-content-end align-items-center">
        <ul class="w-50">
            <li class="btn btn-primary d-block mb-3">Facebook</li>
            <li class="btn btn-info d-block mb-3">LinkedIn</li>
            <li class="btn btn-danger d-block mb-3">Google</li>
            <li class="btn btn-warning d-block mb-3"><a href="registration/email_login" class="stretched-link">Email</a></li>
        </ul>
    </main>
</body>
</html>