.main-logo {
  content: url("/icons/logo.png");
  height: 50px;
  width: 50px;
}

.beard-logo {
  content: url("/icons/beard_logo.png");
  height: 50px;
  width: 50px;
}

/* ------------------ All the icon styling ---------------------- */
.add-icon {
  content: url("/icons/add_icon.png");
  width: 1.5em;
}

.thunder-icon {
  content: url("/icons/thunder_icon.png");
  width: 100%;
}

.tasklist-icon {
  content: url("/icons/tasklist_icon.png");
  width: 100%;
}

.thunder-off {
  -webkit-filter: opacity(1) drop-shadow(0 0 0 orange);
          filter: opacity(1) drop-shadow(0 0 0 orange);
}
